[submodule "api_specs"]
	path = packages/meta-business-sdk/api_specs
	url = https://github.com/facebook/facebook-business-sdk-codegen.git
[submodule "packages/google-ads-sdk/vendor/googleapis"]
	path = packages/google-ads-sdk/vendor/googleapis
	url = https://github.com/googleapis/googleapis.git
