{
  "documentationLink": "https://developers.google.com/youtube/",
  "basePath": "",
  "servicePath": "",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "ownerName": "Google",
  "rootUrl": "https://youtube.googleapis.com/",
  "name": "youtube",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "id": "youtube:v3",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "version": "v3",
  "revision": "20260427",
  "canonicalName": "YouTube",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "resources": {
    "commentThreads": {
      "methods": {
        "insert": {
          "flatPath": "youtube/v3/commentThreads",
          "path": "youtube/v3/commentThreads",
          "httpMethod": "POST",
          "request": {
            "$ref": "CommentThread"
          },
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.commentThreads.insert",
          "parameters": {
            "part": {
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "CommentThread"
          }
        },
        "list": {
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "CommentThreadListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.commentThreads.list",
          "parameters": {
            "videoId": {
              "type": "string",
              "description": "Returns the comment threads of the specified video.",
              "location": "query"
            },
            "searchTerms": {
              "type": "string",
              "location": "query",
              "description": "Limits the returned comment threads to those matching the specified key words. Not compatible with the 'id' filter."
            },
            "textFormat": {
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "location": "query",
              "type": "string",
              "description": "The requested text format for the returned comments.",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "default": "html"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "minimum": "1",
              "location": "query",
              "default": "20",
              "maximum": "100",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "id": {
              "repeated": true,
              "type": "string",
              "description": "Returns the comment threads with the given IDs for Stubby or Apiary.",
              "location": "query"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "allThreadsRelatedToChannelId": {
              "location": "query",
              "description": "Returns the comment threads of all videos of the channel and the channel comments as well.",
              "type": "string"
            },
            "postId": {
              "type": "string",
              "location": "query",
              "description": "Returns the comment threads of the specified post."
            },
            "channelId": {
              "type": "string",
              "description": "Returns the comment threads for all the channel comments (ie does not include comments left on videos).",
              "location": "query"
            },
            "moderationStatus": {
              "description": "Limits the returned comment threads to those with the specified moderation status. Not compatible with the 'id' filter. Valid values: published, heldForReview, likelySpam.",
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "default": "published",
              "location": "query",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "type": "string"
            },
            "order": {
              "type": "string",
              "location": "query",
              "enum": [
                "orderUnspecified",
                "time",
                "relevance"
              ],
              "default": "time",
              "enumDescriptions": [
                "",
                "Order by time.",
                "Order by relevance."
              ]
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more commentThread resource properties that the API response will include.",
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/commentThreads",
          "httpMethod": "GET",
          "path": "youtube/v3/commentThreads"
        }
      }
    },
    "liveChatModerators": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "LiveChatModerator"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveChatModerators.insert",
          "parameters": {
            "part": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet."
            }
          },
          "request": {
            "$ref": "LiveChatModerator"
          },
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/liveChat/moderators",
          "httpMethod": "POST",
          "path": "youtube/v3/liveChat/moderators"
        },
        "list": {
          "id": "youtube.liveChatModerators.list",
          "parameters": {
            "liveChatId": {
              "location": "query",
              "description": "The id of the live chat for which moderators should be returned.",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "minimum": "0",
              "location": "query",
              "default": "5",
              "maximum": "50",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "part": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies the liveChatModerator resource parts that the API response will include. Supported values are id and snippet."
            }
          },
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "response": {
            "$ref": "LiveChatModeratorListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "flatPath": "youtube/v3/liveChat/moderators",
          "httpMethod": "GET",
          "path": "youtube/v3/liveChat/moderators",
          "description": "Retrieves a list of resources, possibly filtered."
        },
        "delete": {
          "path": "youtube/v3/liveChat/moderators",
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/liveChat/moderators",
          "id": "youtube.liveChatModerators.delete",
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Deletes a chat moderator.",
          "parameterOrder": [
            "id"
          ]
        }
      }
    },
    "videoTrainability": {
      "methods": {
        "get": {
          "id": "youtube.videoTrainability.get",
          "parameters": {
            "id": {
              "location": "query",
              "description": "The ID of the video to retrieve.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "VideoTrainability"
          },
          "path": "youtube/v3/videoTrainability",
          "httpMethod": "GET",
          "flatPath": "youtube/v3/videoTrainability",
          "description": "Returns the trainability status of a video."
        }
      }
    },
    "i18nRegions": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "I18nRegionListResponse"
          },
          "id": "youtube.i18nRegions.list",
          "parameters": {
            "hl": {
              "default": "en_US",
              "type": "string",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies the i18nRegion resource properties that the API response will include. Set the parameter value to snippet.",
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/i18nRegions",
          "httpMethod": "GET",
          "flatPath": "youtube/v3/i18nRegions"
        }
      }
    },
    "comments": {
      "methods": {
        "delete": {
          "id": "youtube.comments.delete",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "flatPath": "youtube/v3/comments",
          "httpMethod": "DELETE",
          "path": "youtube/v3/comments",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Deletes a resource."
        },
        "list": {
          "id": "youtube.comments.list",
          "parameters": {
            "id": {
              "location": "query",
              "description": "Returns the comments with the given IDs for One Platform.",
              "repeated": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "part": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include."
            },
            "parentId": {
              "description": "Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future.",
              "location": "query",
              "type": "string"
            },
            "textFormat": {
              "default": "html",
              "description": "The requested text format for the returned comments.",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "type": "string",
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "minimum": "1",
              "location": "query",
              "default": "20",
              "maximum": "100",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "CommentListResponse"
          },
          "path": "youtube/v3/comments",
          "httpMethod": "GET",
          "flatPath": "youtube/v3/comments",
          "description": "Retrieves a list of resources, possibly filtered."
        },
        "update": {
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.comments.update",
          "parameters": {
            "part": {
              "description": "The *part* parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "description": "Updates an existing resource.",
          "request": {
            "$ref": "Comment"
          },
          "httpMethod": "PUT",
          "path": "youtube/v3/comments",
          "flatPath": "youtube/v3/comments"
        },
        "setModerationStatus": {
          "id": "youtube.comments.setModerationStatus",
          "parameters": {
            "id": {
              "description": "Modifies the moderation status of the comments with the given IDs",
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string"
            },
            "moderationStatus": {
              "required": true,
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "location": "query",
              "type": "string",
              "description": "Specifies the requested moderation status. Note, comments can be in statuses, which are not available through this call. For example, this call does not allow to mark a comment as 'likely spam'. Valid values: 'heldForReview', 'published' or 'rejected'.",
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ]
            },
            "banAuthor": {
              "default": "false",
              "type": "boolean",
              "description": "If set to true the author of the comment gets added to the ban list. This means all future comments of the author will autmomatically be rejected. Only valid in combination with STATUS_REJECTED.",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/comments/setModerationStatus",
          "httpMethod": "POST",
          "path": "youtube/v3/comments/setModerationStatus",
          "parameterOrder": [
            "id",
            "moderationStatus"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Sets the moderation status of one or more comments."
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "Comment"
          },
          "id": "youtube.comments.insert",
          "parameters": {
            "part": {
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "Comment"
          },
          "path": "youtube/v3/comments",
          "httpMethod": "POST",
          "flatPath": "youtube/v3/comments"
        },
        "markAsSpam": {
          "id": "youtube.comments.markAsSpam",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string",
              "description": "Flags the comments with the given IDs as spam in the caller's opinion."
            }
          },
          "flatPath": "youtube/v3/comments/markAsSpam",
          "httpMethod": "POST",
          "path": "youtube/v3/comments/markAsSpam",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Expresses the caller's opinion that one or more comments should be flagged as spam."
        }
      }
    },
    "videoAbuseReportReasons": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/videoAbuseReportReasons",
          "httpMethod": "GET",
          "path": "youtube/v3/videoAbuseReportReasons",
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.videoAbuseReportReasons.list",
          "parameters": {
            "hl": {
              "default": "en-US",
              "type": "string",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies the videoCategory resource parts that the API response will include. Supported values are id and snippet.",
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "VideoAbuseReportReasonListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        }
      }
    },
    "search": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/search",
          "path": "youtube/v3/search",
          "httpMethod": "GET",
          "description": "Retrieves a list of search resources",
          "id": "youtube.search.list",
          "parameters": {
            "eventType": {
              "enum": [
                "none",
                "upcoming",
                "live",
                "completed"
              ],
              "location": "query",
              "type": "string",
              "description": "Filter on the livestream status of the videos.",
              "enumDescriptions": [
                "",
                "The live broadcast is upcoming.",
                "The live broadcast is active.",
                "The live broadcast has been completed."
              ]
            },
            "forContentOwner": {
              "location": "query",
              "description": "Search owned by a content owner.",
              "type": "boolean"
            },
            "part": {
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more search resource properties that the API response will include. Set the parameter value to snippet."
            },
            "location": {
              "type": "string",
              "description": "Filter on location of the video",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "forDeveloper": {
              "description": "Restrict the search to only retrieve videos uploaded using the project id of the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "videoDefinition": {
              "description": "Filter on the definition of the videos.",
              "enumDescriptions": [
                "Return all videos, regardless of their resolution.",
                "Only retrieve videos in standard definition.",
                "Only retrieve HD videos."
              ],
              "enum": [
                "any",
                "standard",
                "high"
              ],
              "location": "query",
              "type": "string"
            },
            "videoCategoryId": {
              "description": "Filter on videos in a specific category.",
              "location": "query",
              "type": "string"
            },
            "relevanceLanguage": {
              "type": "string",
              "description": "Return results relevant to this language.",
              "location": "query"
            },
            "topicId": {
              "type": "string",
              "description": "Restrict results to a particular topic.",
              "location": "query"
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5",
              "maximum": "50",
              "location": "query",
              "minimum": "0",
              "type": "integer",
              "format": "uint32"
            },
            "videoPaidProductPlacement": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "Return all videos, paid product placement or not.",
                "Restrict results to only videos with paid product placement."
              ],
              "enum": [
                "videoPaidProductPlacementUnspecified",
                "any",
                "true"
              ]
            },
            "publishedAfter": {
              "type": "string",
              "format": "google-datetime",
              "description": "Filter on resources published after this date.",
              "location": "query"
            },
            "publishedBefore": {
              "type": "string",
              "format": "google-datetime",
              "description": "Filter on resources published before this date.",
              "location": "query"
            },
            "videoSyndicated": {
              "description": "Filter on syndicated videos.",
              "enumDescriptions": [
                "",
                "Return all videos, syndicated or not.",
                "Only retrieve syndicated videos."
              ],
              "enum": [
                "videoSyndicatedUnspecified",
                "any",
                "true"
              ],
              "location": "query",
              "type": "string"
            },
            "safeSearch": {
              "description": "Indicates whether the search results should include restricted content as well as standard content.",
              "enumDescriptions": [
                "",
                "YouTube will not filter the search result set.",
                "YouTube will filter some content from search results and, at the least, will filter content that is restricted in your locale. Based on their content, search results could be removed from search results or demoted in search results. This is the default parameter value.",
                "YouTube will try to exclude all restricted content from the search result set. Based on their content, search results could be removed from search results or demoted in search results."
              ],
              "default": "moderate",
              "enum": [
                "safeSearchSettingUnspecified",
                "none",
                "moderate",
                "strict"
              ],
              "location": "query",
              "type": "string"
            },
            "videoCaption": {
              "type": "string",
              "location": "query",
              "enum": [
                "videoCaptionUnspecified",
                "any",
                "closedCaption",
                "none"
              ],
              "description": "Filter on the presence of captions on the videos.",
              "enumDescriptions": [
                "",
                "Do not filter results based on caption availability.",
                "Only include videos that have captions.",
                "Only include videos that do not have captions."
              ]
            },
            "channelType": {
              "description": "Add a filter on the channel search.",
              "enumDescriptions": [
                "",
                "Return all channels.",
                "Only retrieve shows."
              ],
              "type": "string",
              "enum": [
                "channelTypeUnspecified",
                "any",
                "show"
              ],
              "location": "query"
            },
            "forMine": {
              "type": "boolean",
              "location": "query",
              "description": "Search for the private videos of the authenticated user."
            },
            "videoDimension": {
              "type": "string",
              "location": "query",
              "enum": [
                "any",
                "2d",
                "3d"
              ],
              "description": "Filter on 3d videos.",
              "enumDescriptions": [
                "Include both 3D and non-3D videos in returned results. This is the default value.",
                "Restrict search results to exclude 3D videos.",
                "Restrict search results to only include 3D videos."
              ]
            },
            "type": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Restrict results to a particular set of resource types from One Platform."
            },
            "regionCode": {
              "type": "string",
              "location": "query",
              "description": "Display the content as seen by viewers in this country."
            },
            "channelId": {
              "type": "string",
              "location": "query",
              "description": "Filter on resources belonging to this channelId."
            },
            "videoType": {
              "description": "Filter on videos of a specific type.",
              "enumDescriptions": [
                "",
                "Return all videos.",
                "Only retrieve movies.",
                "Only retrieve episodes of shows."
              ],
              "type": "string",
              "enum": [
                "videoTypeUnspecified",
                "any",
                "movie",
                "episode"
              ],
              "location": "query"
            },
            "order": {
              "default": "relevance",
              "description": "Sort order of the results.",
              "enumDescriptions": [
                "",
                "Resources are sorted in reverse chronological order based on the date they were created.",
                "Resources are sorted from highest to lowest rating.",
                "Resources are sorted from highest to lowest number of views.",
                "Resources are sorted based on their relevance to the search query. This is the default value for this parameter.",
                "Resources are sorted alphabetically by title.",
                "Channels are sorted in descending order of their number of uploaded videos."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "searchSortUnspecified",
                "date",
                "rating",
                "viewCount",
                "relevance",
                "title",
                "videoCount"
              ]
            },
            "locationRadius": {
              "type": "string",
              "location": "query",
              "description": "Filter on distance from the location (specified above)."
            },
            "videoEmbeddable": {
              "description": "Filter on embeddable videos.",
              "enumDescriptions": [
                "",
                "Return all videos, embeddable or not.",
                "Only retrieve embeddable videos."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "videoEmbeddableUnspecified",
                "any",
                "true"
              ]
            },
            "q": {
              "type": "string",
              "description": "Textual search terms to match.",
              "location": "query"
            },
            "videoDuration": {
              "type": "string",
              "enum": [
                "videoDurationUnspecified",
                "any",
                "short",
                "medium",
                "long"
              ],
              "location": "query",
              "description": "Filter on the duration of the videos.",
              "enumDescriptions": [
                "",
                "Do not filter video search results based on their duration. This is the default value.",
                "Only include videos that are less than four minutes long.",
                "Only include videos that are between four and 20 minutes long (inclusive).",
                "Only include videos longer than 20 minutes."
              ]
            },
            "videoLicense": {
              "enum": [
                "any",
                "youtube",
                "creativeCommon"
              ],
              "location": "query",
              "type": "string",
              "description": "Filter on the license of the videos.",
              "enumDescriptions": [
                "Return all videos, regardless of which license they have, that match the query parameters.",
                "Only return videos that have the standard YouTube license.",
                "Only return videos that have a Creative Commons license. Users can reuse videos with this license in other videos that they create. Learn more."
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "SearchListResponse"
          }
        }
      }
    },
    "membershipsLevels": {
      "methods": {
        "list": {
          "description": "Retrieves a list of all pricing levels offered by a creator to the fans.",
          "flatPath": "youtube/v3/membershipsLevels",
          "path": "youtube/v3/membershipsLevels",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "MembershipsLevelListResponse"
          },
          "id": "youtube.membershipsLevels.list",
          "parameters": {
            "part": {
              "repeated": true,
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The *part* parameter specifies the membershipsLevel resource parts that the API response will include. Supported values are id and snippet."
            }
          }
        }
      }
    },
    "subscriptions": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "Subscription"
          },
          "id": "youtube.subscriptions.insert",
          "parameters": {
            "part": {
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include."
            }
          },
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "Subscription"
          },
          "path": "youtube/v3/subscriptions",
          "httpMethod": "POST",
          "flatPath": "youtube/v3/subscriptions"
        },
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/subscriptions",
          "httpMethod": "GET",
          "flatPath": "youtube/v3/subscriptions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "SubscriptionListResponse"
          },
          "id": "youtube.subscriptions.list",
          "parameters": {
            "channelId": {
              "type": "string",
              "location": "query",
              "description": "Return the subscriptions of the given channel owner."
            },
            "forChannelId": {
              "description": "Return the subscriptions to the subset of these channels that the authenticated user is subscribed to.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more subscription resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a subscription resource, the snippet property contains other properties, such as a display title for the subscription. If you set *part=snippet*, the API response will also contain all of those nested properties."
            },
            "order": {
              "enum": [
                "subscriptionOrderUnspecified",
                "relevance",
                "unread",
                "alphabetical"
              ],
              "location": "query",
              "type": "string",
              "description": "The order of the returned subscriptions",
              "enumDescriptions": [
                "",
                "Sort by relevance.",
                "Sort by order of activity.",
                "Sort alphabetically."
              ],
              "default": "relevance"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "mine": {
              "description": "Flag for returning the subscriptions of the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "mySubscribers": {
              "description": "Return the subscribers of the given channel owner.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "default": "5",
              "maximum": "50",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "minimum": "0"
            },
            "id": {
              "repeated": true,
              "type": "string",
              "description": "Return the subscriptions with the given IDs for Stubby or Apiary.",
              "location": "query"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "myRecentSubscribers": {
              "location": "query",
              "type": "boolean"
            }
          }
        },
        "delete": {
          "id": "youtube.subscriptions.delete",
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/subscriptions",
          "httpMethod": "DELETE",
          "path": "youtube/v3/subscriptions",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Deletes a resource."
        }
      }
    },
    "tests": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "TestItem"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "id": "youtube.tests.insert",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "type": "string",
              "required": true,
              "location": "query"
            },
            "externalChannelId": {
              "location": "query",
              "type": "string"
            }
          },
          "description": "POST method.",
          "request": {
            "$ref": "TestItem"
          },
          "httpMethod": "POST",
          "path": "youtube/v3/tests",
          "flatPath": "youtube/v3/tests"
        }
      }
    },
    "captions": {
      "methods": {
        "insert": {
          "flatPath": "youtube/v3/captions",
          "path": "youtube/v3/captions",
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "request": {
            "$ref": "Caption"
          },
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.captions.insert",
          "parameters": {
            "onBehalfOf": {
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies the caption resource parts that the API response will include. Set the parameter value to snippet.",
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "sync": {
              "location": "query",
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio.",
              "type": "boolean"
            }
          },
          "mediaUpload": {
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ],
            "maxSize": "104857600",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/captions"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/captions"
              }
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "Caption"
          }
        },
        "list": {
          "id": "youtube.captions.list",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "videoId": {
              "description": "Returns the captions for the specified video.",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "id": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Returns the captions with the given IDs for Stubby or Apiary."
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.",
              "repeated": true,
              "type": "string",
              "required": true,
              "location": "query"
            },
            "onBehalfOf": {
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part",
            "videoId"
          ],
          "response": {
            "$ref": "CaptionListResponse"
          },
          "flatPath": "youtube/v3/captions",
          "path": "youtube/v3/captions",
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered."
        },
        "update": {
          "supportsMediaUpload": true,
          "request": {
            "$ref": "Caption"
          },
          "description": "Updates an existing resource.",
          "flatPath": "youtube/v3/captions",
          "path": "youtube/v3/captions",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "Caption"
          },
          "id": "youtube.captions.update",
          "parameters": {
            "sync": {
              "location": "query",
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio.",
              "type": "boolean"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.",
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOf": {
              "type": "string",
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is on behalf of."
            }
          },
          "mediaUpload": {
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ],
            "maxSize": "104857600",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/captions"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/captions"
              }
            }
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Deletes a resource.",
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/captions",
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/captions",
          "id": "youtube.captions.delete",
          "parameters": {
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query",
              "type": "string"
            },
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          }
        },
        "download": {
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.captions.download",
          "parameters": {
            "id": {
              "description": "The ID of the caption track to download, required for One Platform.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "tlang": {
              "location": "query",
              "description": "tlang is the language code; machine translate the captions into this language.",
              "type": "string"
            },
            "onBehalfOf": {
              "type": "string",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query"
            },
            "tfmt": {
              "type": "string",
              "description": "Convert the captions into this format. Supported options are sbv, srt, and vtt.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "supportsMediaDownload": true,
          "description": "Downloads a caption track.",
          "flatPath": "youtube/v3/captions/{id}",
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "path": "youtube/v3/captions/{id}"
        }
      }
    },
    "liveBroadcasts": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Delete a given broadcast.",
          "httpMethod": "DELETE",
          "path": "youtube/v3/liveBroadcasts",
          "id": "youtube.liveBroadcasts.delete",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "id": {
              "location": "query",
              "description": "Broadcast to delete.",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/liveBroadcasts"
        },
        "bind": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "id",
            "part"
          ],
          "response": {
            "$ref": "LiveBroadcast"
          },
          "id": "youtube.liveBroadcasts.bind",
          "parameters": {
            "id": {
              "description": "Broadcast to bind to the stream",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "streamId": {
              "location": "query",
              "description": "Stream to bind, if not set unbind the current one.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "description": "Bind a broadcast to a stream.",
          "path": "youtube/v3/liveBroadcasts/bind",
          "httpMethod": "POST",
          "flatPath": "youtube/v3/liveBroadcasts/bind"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "LiveBroadcast"
          },
          "id": "youtube.liveBroadcasts.insert",
          "parameters": {
            "part": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            }
          },
          "description": "Inserts a new stream for the authenticated user.",
          "request": {
            "$ref": "LiveBroadcast"
          },
          "path": "youtube/v3/liveBroadcasts",
          "httpMethod": "POST",
          "flatPath": "youtube/v3/liveBroadcasts"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "LiveBroadcastListResponse"
          },
          "id": "youtube.liveBroadcasts.list",
          "parameters": {
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, status and statistics.",
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "id": {
              "description": "Return broadcasts with the given ids from Stubby or Apiary.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "broadcastType": {
              "description": "Return only broadcasts with the selected type.",
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return only scheduled event broadcasts.",
                "Return only persistent broadcasts."
              ],
              "default": "event",
              "location": "query",
              "enum": [
                "broadcastTypeFilterUnspecified",
                "all",
                "event",
                "persistent"
              ],
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "broadcastStatus": {
              "description": "Return broadcasts with a certain status, e.g. active broadcasts.",
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return current live broadcasts.",
                "Return broadcasts that have not yet started.",
                "Return broadcasts that have already ended."
              ],
              "location": "query",
              "enum": [
                "broadcastStatusFilterUnspecified",
                "all",
                "active",
                "upcoming",
                "completed"
              ],
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "minimum": "0",
              "type": "integer",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5",
              "maximum": "50"
            }
          },
          "description": "Retrieve the list of broadcasts associated with the given channel.",
          "path": "youtube/v3/liveBroadcasts",
          "httpMethod": "GET",
          "flatPath": "youtube/v3/liveBroadcasts"
        },
        "update": {
          "description": "Updates an existing broadcast for the authenticated user.",
          "request": {
            "$ref": "LiveBroadcast"
          },
          "httpMethod": "PUT",
          "path": "youtube/v3/liveBroadcasts",
          "flatPath": "youtube/v3/liveBroadcasts",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveBroadcasts.update",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a broadcast's privacy status is defined in the status part. As such, if your request is updating a private or unlisted broadcast, and the request's part parameter value includes the status part, the broadcast's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the broadcast will revert to the default privacy setting.",
              "repeated": true,
              "type": "string",
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          }
        },
        "transition": {
          "id": "youtube.liveBroadcasts.transition",
          "parameters": {
            "broadcastStatus": {
              "description": "The status to which the broadcast is going to transition.",
              "enumDescriptions": [
                "",
                "Start testing the broadcast. YouTube transmits video to the broadcast's monitor stream. Note that you can only transition a broadcast to the testing state if its contentDetails.monitorStream.enableMonitorStream property is set to true.\",",
                "Return only persistent broadcasts.",
                "The broadcast is over. YouTube stops transmitting video."
              ],
              "type": "string",
              "location": "query",
              "required": true,
              "enum": [
                "statusUnspecified",
                "testing",
                "live",
                "complete"
              ]
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "id": {
              "type": "string",
              "description": "Broadcast to transition.",
              "required": true,
              "location": "query"
            },
            "part": {
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "broadcastStatus",
            "id",
            "part"
          ],
          "response": {
            "$ref": "LiveBroadcast"
          },
          "flatPath": "youtube/v3/liveBroadcasts/transition",
          "path": "youtube/v3/liveBroadcasts/transition",
          "httpMethod": "POST",
          "description": "Transition a broadcast to a given status."
        },
        "insertCuepoint": {
          "flatPath": "youtube/v3/liveBroadcasts/cuepoint",
          "path": "youtube/v3/liveBroadcasts/cuepoint",
          "httpMethod": "POST",
          "request": {
            "$ref": "Cuepoint"
          },
          "description": "Insert cuepoints in a broadcast",
          "id": "youtube.liveBroadcasts.insertCuepoint",
          "parameters": {
            "id": {
              "description": "Broadcast to insert ads to, or equivalently `external_video_id` for internal use.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "Cuepoint"
          }
        }
      }
    },
    "members": {
      "methods": {
        "list": {
          "id": "youtube.members.list",
          "parameters": {
            "mode": {
              "type": "string",
              "enum": [
                "listMembersModeUnknown",
                "updates",
                "all_current"
              ],
              "location": "query",
              "default": "all_current",
              "description": "Parameter that specifies which channel members to return.",
              "enumDescriptions": [
                "",
                "Return only members that joined after the first call with this mode was made.",
                "Return all current members, from newest to oldest."
              ]
            },
            "hasAccessToLevel": {
              "type": "string",
              "description": "Filter members in the results set to the ones that have access to a level.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies the member resource parts that the API response will include. Set the parameter value to snippet.",
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "minimum": "0",
              "type": "integer",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5",
              "maximum": "1000"
            },
            "filterByMemberChannelId": {
              "location": "query",
              "description": "Comma separated list of channel IDs. Only data about members that are part of this list will be included in the response.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "MemberListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "httpMethod": "GET",
          "path": "youtube/v3/members",
          "flatPath": "youtube/v3/members",
          "description": "Retrieves a list of members that match the request criteria for a channel."
        }
      }
    },
    "playlistItems": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Deletes a resource.",
          "parameterOrder": [
            "id"
          ],
          "flatPath": "youtube/v3/playlistItems",
          "id": "youtube.playlistItems.delete",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "path": "youtube/v3/playlistItems",
          "httpMethod": "DELETE"
        },
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "PlaylistItem"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.playlistItems.insert",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "PlaylistItem"
          },
          "httpMethod": "POST",
          "path": "youtube/v3/playlistItems",
          "flatPath": "youtube/v3/playlistItems"
        },
        "list": {
          "flatPath": "youtube/v3/playlistItems",
          "httpMethod": "GET",
          "path": "youtube/v3/playlistItems",
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.playlistItems.list",
          "parameters": {
            "id": {
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set *part=snippet*, the API response will contain all of those properties."
            },
            "playlistId": {
              "description": "Return the playlist items within the given playlist.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5",
              "maximum": "50",
              "location": "query",
              "minimum": "0",
              "type": "integer",
              "format": "uint32"
            },
            "videoId": {
              "description": "Return the playlist items associated with the given video ID.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "PlaylistItemListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "update": {
          "request": {
            "$ref": "PlaylistItem"
          },
          "description": "Updates an existing resource.",
          "flatPath": "youtube/v3/playlistItems",
          "httpMethod": "PUT",
          "path": "youtube/v3/playlistItems",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "PlaylistItem"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.playlistItems.update",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a playlist item can specify a start time and end time, which identify the times portion of the video that should play when users watch the video in the playlist. If your request is updating a playlist item that sets these values, and the request's part parameter value includes the contentDetails part, the playlist item's start and end times will be updated to whatever value the request body specifies. If the request body does not specify values, the existing start and end times will be removed and replaced with the default settings.",
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
[...]
