{
  "mtlsRootUrl": "https://mybusinessqanda.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/my-business/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "description": "The My Business Q&A API allows questions and answers to be posted for specific listings. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "basePath": "",
  "protocol": "rest",
  "resources": {
    "locations": {
      "resources": {
        "questions": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "id": "mybusinessqanda.locations.questions.create",
              "flatPath": "v1/locations/{locationsId}/questions",
              "parameterOrder": ["parent"],
              "parameters": {
                "parent": {
                  "pattern": "^locations/[^/]+/questions$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the location to write a question for.",
                  "location": "path"
                }
              },
              "description": "Adds a question for the specified location.",
              "request": {
                "$ref": "Question"
              },
              "response": {
                "$ref": "Question"
              },
              "path": "v1/{+parent}"
            },
            "patch": {
              "id": "mybusinessqanda.locations.questions.patch",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "httpMethod": "PATCH",
              "parameterOrder": ["name"],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The specific fields to update. Only question text can be updated.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
                  "location": "path",
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Updates a specific question written by the current user.",
              "request": {
                "$ref": "Question"
              },
              "response": {
                "$ref": "Question"
              },
              "path": "v1/{+name}"
            },
            "delete": {
              "parameterOrder": ["name"],
              "path": "v1/{+name}",
              "id": "mybusinessqanda.locations.questions.delete",
              "flatPath": "v1/locations/{locationsId}/questions/{questionsId}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "description": "Deletes a specific question written by the current user.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the question to delete.",
                  "location": "path",
                  "required": true,
                  "pattern": "^locations/[^/]+/questions/[^/]+$",
                  "type": "string"
                }
              }
            },
            "list": {
              "description": "Returns the paginated list of questions and some of its answers for a specified location. This operation is only valid if the specified location is verified.",
              "parameters": {
                "pageSize": {
                  "description": "Optional. How many questions to fetch per page. The default and maximum `page_size` values are 10.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "orderBy": {
                  "description": "Optional. The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^locations/[^/]+/questions$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the location to fetch questions for.",
                  "location": "path"
                },
                "answersPerQuestion": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. If specified, the next page of questions is retrieved.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. A filter constraining the questions to return. The only filter currently supported is \"ignore_answered=true\"",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": ["parent"],
              "path": "v1/{+parent}",
              "id": "mybusinessqanda.locations.questions.list",
              "flatPath": "v1/locations/{locationsId}/questions",
              "response": {
                "$ref": "ListQuestionsResponse"
              },
              "httpMethod": "GET"
            }
          },
          "resources": {
            "answers": {
              "methods": {
                "list": {
                  "description": "Returns the paginated list of answers for a specified question.",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. If specified, the next page of answers is retrieved.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. How many answers to fetch per page. The default and maximum `page_size` values are 10.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The name of the question to fetch answers for.",
                      "location": "path",
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/answers",
                  "parameterOrder": ["parent"],
                  "httpMethod": "GET",
                  "id": "mybusinessqanda.locations.questions.answers.list",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers",
                  "response": {
                    "$ref": "ListAnswersResponse"
                  }
                },
                "upsert": {
                  "request": {
                    "$ref": "UpsertAnswerRequest"
                  },
                  "response": {
                    "$ref": "Answer"
                  },
                  "path": "v1/{+parent}/answers:upsert",
                  "parameters": {
                    "parent": {
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the question to write an answer for.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.",
                  "httpMethod": "POST",
                  "id": "mybusinessqanda.locations.questions.answers.upsert",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:upsert",
                  "parameterOrder": ["parent"]
                },
                "delete": {
                  "description": "Deletes the answer written by the current user to a question.",
                  "parameters": {
                    "name": {
                      "pattern": "^locations/[^/]+/questions/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the question to delete an answer for.",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}/answers:delete",
                  "parameterOrder": ["name"],
                  "httpMethod": "DELETE",
                  "id": "mybusinessqanda.locations.questions.answers.delete",
                  "flatPath": "v1/locations/{locationsId}/questions/{questionsId}/answers:delete",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "baseUrl": "https://mybusinessqanda.googleapis.com/",
  "revision": "20260803",
  "ownerDomain": "google.com",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": ["json", "media", "proto"],
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": ["v1 error format", "v2 error format"],
      "description": "V1 error format.",
      "enum": ["1", "2"],
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "rootUrl": "https://mybusinessqanda.googleapis.com/",
  "name": "mybusinessqanda",
  "schemas": {
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "ListQuestionsResponse": {
      "description": "Response message for QuestionsAndAnswers.ListQuestions",
      "id": "ListQuestionsResponse",
      "type": "object",
      "properties": {
        "totalSize": {
          "description": "The total number of questions posted for this location across all pages.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "If the number of questions exceeds the requested max page size, this field is populated with a token to fetch the next page of questions on a subsequent call. If there are no more questions, this field is not present in the response.",
          "type": "string"
        },
        "questions": {
          "description": "The requested questions,",
          "items": {
            "$ref": "Question"
          },
          "type": "array"
        }
      }
    },
    "Answer": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp for when the answer was written. Only retrieved during ListResponse fetching.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp for when the answer was last modified."
        },
        "name": {
          "description": "Output only. The unique name for the answer locations/*/questions/*/answers/*",
          "readOnly": true,
          "type": "string"
        },
        "author": {
          "$ref": "Author",
          "description": "Output only. The author of the answer. Will only be set during list operations.",
          "readOnly": true
        },
        "upvoteCount": {
          "description": "Output only. The number of upvotes for the answer.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "text": {
          "description": "Required. The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.",
          "type": "string"
        }
      },
      "id": "Answer",
      "description": "Represents an answer to a question"
    },
    "UpsertAnswerRequest": {
      "description": "Request message for QuestionsAndAnswers.UpsertAnswer",
      "id": "UpsertAnswerRequest",
      "type": "object",
      "properties": {
        "answer": {
          "description": "Required. The new answer.",
          "$ref": "Answer"
        }
      }
    },
    "ListAnswersResponse": {
      "id": "ListAnswersResponse",
      "type": "object",
      "properties": {
        "totalSize": {
          "description": "The total number of answers posted for this question across all pages.",
          "format": "int32",
          "type": "integer"
        },
        "answers": {
          "description": "The requested answers.",
          "items": {
            "$ref": "Answer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If the number of answers exceeds the requested max page size, this field is populated with a token to fetch the next page of answers on a subsequent call. If there are no more answers, this field is not present in the response.",
          "type": "string"
        }
      },
      "description": "Response message for QuestionsAndAnswers.ListAnswers"
    },
    "Question": {
      "id": "Question",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp for when the question was written.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp for when the question was last modified.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "topAnswers": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of answers to the question, sorted by upvotes. This may not be a complete list of answers depending on the request parameters (answers_per_question)",
          "items": {
            "$ref": "Answer"
          }
        },
        "author": {
          "readOnly": true,
          "description": "Output only. The author of the question.",
          "$ref": "Author"
        },
        "totalAnswerCount": {
          "description": "Output only. The total number of answers posted for this question.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Immutable. The unique name for the question. locations/*/questions/* This field will be ignored if set during question creation.",
          "type": "string"
        },
        "upvoteCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of upvotes for the question."
        },
        "text": {
          "description": "Required. The text of the question. It should contain at least three words and the total length should be greater than or equal to 10 characters. The maximum length is 4096 characters.",
          "type": "string"
        }
      },
      "description": "Represents a single question and some of its answers."
    },
    "Author": {
      "id": "Author",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "This should not be used.",
            "A regular user.",
            "A Local Guide",
            "The owner/manager of the location"
          ],
          "type": "string",
          "description": "The type of user the author is.",
          "enum": ["AUTHOR_TYPE_UNSPECIFIED", "REGULAR_USER", "LOCAL_GUIDE", "MERCHANT"]
        },
        "profilePhotoUri": {
          "description": "The profile photo URI of the user.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the user",
          "type": "string"
        }
      },
      "description": "Represents the author of a question or answer"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "id": "mybusinessqanda:v1",
  "canonicalName": "My Business Q&A",
  "title": "My Business Q&A API",
  "ownerName": "Google",
  "servicePath": "",
  "version_module": true
}
